#Folder
*/dist/*
*/build/*
*/nbproject/*

#Data
*/build.xml
*/.project
*/debug.log
*/collection.txt
*/config.properties
*/manifest.mf

#Old
#/LindaleGUI/nbproject/private/
#/.project
#/Lindale_API_Container/build/
#/Lindale_Domain/build/
#/Lindale_API_Hibernate/build/
#/LindaleGUI/build/
#/Lindale_API_Container/dist
#/Lindale_API_Hibernate/dist/
#/Lindale_Domain/dist/
#/LindaleGUI/dist/
#/Lindale_PluginManager/nbproject/private/
#/Lindale_API_Plugin/build/
#/Lindale_PluginManager/build/
#/Lindale_Test_Plugins/nbproject/private/
#/Lindale_Test_Plugins/build/
#/Lindale_API_Plugin/dist/
#/Lindale_PluginManager/dist/